* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
}

.grid-item {
    background-color: #fff;
    padding: 10px;
    align-self: center;
    text-align: center;
    height: 400px;
}

.grid-item p {
    margin: 0.5rem;
}

img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}