* {
    box-sizing: border-box;
}

@import url(//https://fonts.googleapis.com/css?family=Poppins);

body {
    background-color: #ccc;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;    
}

/* ----- HEADER ----- */

.header {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding-bottom: 1.5rem;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 6em;
}

.header a:hover {
    transform: scale(1.1); /* ----- nav links slight hover effect ----- */
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 2px #aaa;
    font-size: 4rem;
    margin: 0.5rem;
}

/* ----- MAIN CONTENT ----- */

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr)); /* ----- maximum 4 columns on grid ----- */
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
}

.grid-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #aaa;
    align-self: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease; /* ----- smooth transition before and after hover ----- */
}

.grid-item p {
    margin: 0.5rem;
    padding-left: 1rem;
    align-self: flex-start;
}

.grid-link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

.grid-item img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    opacity:0.8;
    transition: opacity 1s ease, transform 1s ease; /* ----- smooth transition before and after hover ----- */
}

.grid-item:hover { /* ----- grid cell hover effect ----- */
    transform: scale(1.05);
}

.grid-link:hover img { /* ----- logo hover effect ----- */
    opacity: 1;
    transition: 1s ease;
    transform: scale(1.1);
}

/* ----- ABOUT ----- */

.about {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.about-content {
    background-color: #fff;
    grid-column-start: 2;
    padding: 0 3rem;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #aaa;
}

.about-content img {
    display: block;
    margin: 0 auto;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.contact-links a img {
    width: 50px;
    height: auto;
}

.contact-links a:hover img {
    transform: scale(1.1);
}

/* ----- FOOTER ----- */

footer {
    color: #fff;
    display: flex;
    justify-content: center;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, minmax(300px, 1fr));
    }
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(300px, 1fr)); 
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}